<section>
  <br>
  <div class="well">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div ng-if="vm.authentication.user === null">
          <h1>This is Home </h1>
        </div>
        <div ng-if="vm.authentication.user !== null">
          <input type="text" size="40" ng-model="vm.url" />
          <div class="btn btn-info" ng-click="vm.getInfo(vm.url)">Fetch</div>
        </div>
        <div ng-if="vm.info">
          <br>
          <div class="form-group">
            <table class="table table-striped table-bordered">
              <tr>
                <td>Title:
                </td>
                <td id="title" contenteditable>{{vm.info.title}}
                </td>
              </tr>
              <tr>
                <td>Description:
                </td>
                <td id="description" contenteditable>{{vm.info.description}}
                </td>
              </tr>
              <tr>
                <td>Image:
                </td>
                <td><img ng-src="{{vm.info.image}}">
                </td>
              </tr>
              <tr>
                <td>Post:
                </td>
                <td id="myDesc" contenteditable>
                </td>
              </tr>
            </table>
          </div>
          <div class="btn btn-info" ng-click="vm.preview()">Preview</div>
          <br><br>
          <div ng-if="vm.check">
            <table class="table table-bordered">
              <tr>
                <td>
                  <img ng-src="{{vm.info.image}}" width="100%" height="100%">
                </td>
                <td>
                  <h4>{{vm.info.title}}</h4>
                  <p>{{vm.info.description}}</p>
                </td>
              </tr>
              <tr>
                <td colspan="2">{{vm.info.myDesc}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>