@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn {
  font-family: 'Play-Regular';  
}
table {
  font-family: 'didactgothic-regular';  
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.nav ul:hover{
   background-color: #fff;
   color: #4080bf;
   
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}
.w-example{
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  margin:20px 0;
  padding:16px;
}
h3 {
  font-family: 'didactgothic-regular';
  font-size: 190%;
}
input {
  font-family: 'Play-Regular';  
}
label {
  font-family: 'Play-Regular';  
}
ul {
  font-family: 'Play-Regular';  
}
/* csslint ignore:start */
 @font-face {
  font-family: 'Play-Regular';
  src: url('../../../../modules/core/client/fonts/Play-Regular.ttf')  format('truetype');
}
 @font-face {
  font-family: 'Sanchezregular';
  src: url('../../../../modules/core/client/fonts/Sanchezregular.otf')  format('opentype');
 }
 @font-face {
  font-family: 'didactgothic-regular';
  src: url('../../../../modules/core/client/fonts/didactgothic-regular.otf')  format('opentype');
 }
/* csslint ignore:end */