<br>
<div ng-if="!vm.confAcc">
    <md-checkbox aria-label="Select All" ng-checked="vm.isChecked()" md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAll()">
        <span ng-if="vm.isChecked()">Un-</span>Select All
    </md-checkbox>
    <div class="nav-stacked" ng-repeat="(providerName, providerData) in vm.authentication.user.additionalProvidersData" class="social-account-container">
        <div>
            <md-checkbox ng-checked="vm.exists(providerName, vm.selected)" ng-click="vm.toggle(providerName, vm.selected)">
                <div style="display:inline-block; position:relative;">
                    <img class="social-account" ng-src="{{providerData.imageURL}}">
                    <img class="header-profile-image" style="position:absolute; top:0; right:0;" ng-src="/modules/users/client/img/buttons/{{providerName}}.png">
                </div>
                {{providerData.username}}
            </md-checkbox>
        </div>
    </div>
    <br>
    <br>
    <md-button class="md-accent md-raised md-hue-1" ng-click="vm.confirmAccounts()">Go</md-button>
</div>
<div ng-if="vm.confAcc">
    <div class=" w-example">
        <md-input-container class="md-block">
            <label>Paste the Url</label>
            <input type="text" ng-model="vm.url" />
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="vm.getInfo(vm.url)">Fetch Data</md-button>
        <md-button class="md-warn md-raised" ng-click="vm.confirmAccounts(); vm.confAcc=false">re-check</md-button>
    </div>
    <div ng-if="vm.info">
        <br>
        <div class="w-example table-responsive form-group">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td><b>Title:</b>
                    </td>
                    <td id="title">{{vm.info.title}}
                    </td>
                </tr>
                <tr>
                    <td><b>Description:</b>
                    </td>
                    <td id="description">{{vm.info.description}}
                    </td>
                </tr>
                <tr>
                    <td><b>Image:</b>
                    </td>
                    <td><img ng-src="{{vm.info.image}}">
                    </td>
                </tr>
                <tr>
                    <td><b>Post:</b>
                    </td>
                    <td>
                        <textarea class="form-control" ng-model="vm.info.post"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <md-button class="md-primary md-raised" ng-click="vm.post(vm.info, vm.selected)">post</md-button>
        <md-button class="md-warn md-raised" ng-click="vm.confirmAccounts(); vm.confAcc=false">re-check</md-button>
        <br><br>
        <div>
        </div>
    </div>
</div>