.account-list{
  display:none;
}
.accounts:hover ~ .account-list{
  display:block;
}
.account-list:active{
  display:block;
}
.button-width{
  border-radius: 25px 25px 25px 25px;
  font-size: 90%;
  width: 50%;
}
.card-font{
  color: #817D7D;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.md-sidenav-left{
  background-color: #494949;
  color: #fff;
}
.md-sidenav-left md-content{
  background-color: #494949;
  color: #fff;
}
.md-sidenav-left md-content a{
  background-color: #494949;
  color: #fff;
}
.md-sidenav-left md-content a:hover{
  background-color: #646161;
  color: #fff;
}
.md-sidenav-left md-content a:active{
  background-color: #646161;
}
.navbar {
   background-color:#6C6C6C;
   color: #FFFFFF;
}
.navbar a{
   color: #000;
}
/* .nav-li{
  padding-top: 15%;
} */
.navbar li a:hover{
   background-color: #ABAFB0;
   color: #000;
   font-size: 120%;
}
.nav-li a:hover{
   background-color: #ABAFB0;
   color: #000;
}
/* .nav-pills{
  background-color: #272626;
  color: #C5C3C3;
  height: 1000px;
} */
.nav-pills ul{
  background-color: #ABAFB0;
  color: #272626;
}
.nav-pills a{
  background-color: #ABAFB0;
  color: #272626;
}
.nav-pills a:hover{
  background-color: #272626;
  color: #C5C3C3;
}
.social-account{
  border-radius: 50%;
  height: 50px;
  margin-right: 5px;
  opacity: 0.8;
  width: 50px;    
}
/* csslint ignore:start */
.w-example{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  margin:20px 0;
  padding:16px;
}
/* csslint ignore:end */
body {
  background-attachment: fixed;
  background-color: #E3E1E1;
  background-image: url("../../../../modules/core/client/img/brand/blog-banner.png") ;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  overflow: auto;
}
html{
  background-color: #E3E1E1;
  overflow: auto;
}
/* .md-content{
  background-color: #ADADAD;
}
.md-sidenav-left{
  background-color: #ADADAD;
  position: fixed;
}
.md-sidenav-left ul{
  background-color: #ADADAD;
} */
md-card-actions{
  text-align: center;
}
md-card-content ul{
  text-align: center;
}
.md-sidenav-left{
  position: fixed;
}
.sidenavbar{
  /* background-color: #222222; */
  min-height: 100%;
}
.stuck{
  height: auto;
  overflow: auto;
}
/* p {
  font-family: 'Play-Regular';
}
 @font-face {
  font-family: 'Play-Regular';
  src: url('../../../../modules/core/client/fonts/Play-Regular.ttf')  format('truetype');
}  */
@media screen and (max-width:768px){
    h1{
      margin-top: 80%;
    }
    ul{
      text-align: center;
    }
}
@media screen and (min-width:768px){
  h1{
    margin-top: 20%;
  }
}
